body 
{
	background-color:#cccccc;
}

div.main {
	width: 70%;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin:0 auto;
}
div.half-left {
	width: 50%;
	height: 300px;
	background-color: #f2f2f23d;
	float: left;
	border-style: solid; 
	border-width: 0px;
	border-color: #4CAF50;
}

h1 {
	font: 1em sans-serif;
}


a.su {
	color: #4CAF50;
	font: 1em sans-serif;
}

a.su:hover {
	color: rgb(134, 35, 35);
}


ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #333;
}

li.nav {
	float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #111;
}

ul.vertical-list {
	background-color: white;	
}
li.vertical-list {
	font: 1em sans-serif;
	float: center;
}


input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=password], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
  
button[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
  
button[type=submit]:hover {
	background-color: #8e908ea8;
}
  
#account 
{
	font: 1em sans-serif;
}